.user-list-table-container {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}
.table-information-container {
  padding-left: 20px;
  padding-top: 20px;
}
.table-title {
  color: rgba(0, 0, 0, 0.8);
}
.table-subtitle {
  color: rgba(0, 0, 0, 0.7);
  margin: 15px 0 10px;
}
.command-item {
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
}
.command-item:last-child {
  margin-bottom: 30px;
}
.table-container {
  background: #f4f5fc;
}
.user-table-row:hover {
  background: rgb(214, 213, 213);
  cursor: pointer;
}
.delete-icon {
  margin-right: 20px;
}
.table-control-buttons-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-user-btn-container {
  margin-left: 20px;
}
.add-btn {
  width: 64px !important;
  border-radius: 50% !important;
  font-size: 24px !important;
}
.pagination-control-btns {
  display: flex;
  align-items: center;
}
.pagination-arrows {
  font-size: 48px;
  margin-left: 40px;
  color: #3f51b5;
}
.prev-arrow,
.next-arrow {
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
